global:
  scrape_interval: 10s

remote_write:
  - url: http://victoriametrics:8428/api/v1/write

scrape_configs:
  - job_name: "otel-collector"
    static_configs:
      - targets: ["otel-collector:8889"]
  - job_name: "otel-collector-internal"
    static_configs:
      - targets: ["otel-collector:8888"] # scrape internal metrics
